.editable-row-container {
  width: 100px;
  position: relative;
}

.editable-row-container input {
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.editable-row-container input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.editable-row-container input[type="number"] {
  -moz-appearance: textfield;
}

.editable-row-container:hover {
  background-color: #e8f3e7;
  border-radius: 4px;
}

.editable-row-buttons {
  position: absolute;
  top: -5px;
  right: -10px;
  display: flex;
  background-color: #E7F3E7;
  height: 17px;
  border-radius: 4px;
}
