.exchanger-container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .exchanger-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .exchanger-container {
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    margin-bottom: 5vh;
  }
}
